.env
/beszel/beszel_agent_data
/beszel/beszel_data
/beszel/beszel_socket
/dockge/dockge_data
/jellyfin/cache
/jellyfin/config
/navidrome/navidrome_data
/nextcloud/db_data
/nextcloud/nextcloud_data
/nginx/nginx/certs
/pihole/etc-dnsmasq.d
/pihole/etc-pihole
/portainer/portainer_data
/tailscale/tailscale-nginx
/vaultwarden/vaultwarden_data
/wontuse