.env
/beszel/beszel_data
/beszel/beszel_socket
/beszel/beszel_agent_data
/jellyfin/config
/jellyfin/cache
/navidrome/navidrome_data
/nextcloud/db_data
/nextcloud/nextcloud_data
/nginx/nginx/certs
/pihole/etc-pihole
/pihole/etc-dnsmasq.d
/portainer/portainer_data
/tailscale/tailscale-nginx
/vaultwarden/vaultwarden_data
/wontuse
